.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.details-card {
  background: white;
}

.mapboxgl-popup-content {
  padding: 0;
  background: white;
  color: #d301a6;
}

.mapboxgl-popup-content-wrapper {
  padding: 0;
  background: white;
}
