html,
body {
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
}

nav.navbar {
  display: flex;
  min-height: 5vh;
  position: absolute;
  bottom: 0%;
  width: 100%;
 
  background: #ec3cc6;
	flex-direction: row;
	flex-wrap: wrap;

	align-items: center;
	align-content: center;
}

button.navbar-button {
  margin: 15px 30px;
  border-radius: 3px;
  
}

#home-btn {
  position:absolute;
  
  color: white;
  text-decoration: none;

}

.Header {
  background: #ec3cc6;
  display: flex;
  position: absolute;
  top: 0%;
  width: 100%;
}
